#first-article{
    background-color: aquamarine;
    color: black;
}

#second-article{
    background-color: white;
    color: black;
}

#third-article{
    background-color: aquamarine;
    color: black;
}

#fourth-article{
    background-color: white;
    color: black;
}